*{
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
    
}

.container {
    border: 2px solid yellow;
    height: 10rem;
    display: flex;
    flex-direction: row;
}

.cont-1 {
    justify-content: flex-start;
}

.cont-2 {
    justify-content: flex-end;
}

.cont-3 {
    justify-content: center;
}

.cont-4 {
    justify-content: space-between;
}

.cont-5 {
    justify-content: space-around;
}

.cont-6 {
    justify-content: space-evenly;
}


.item {
    border: 2px solid black;
    height: 5rem;
    width: 5rem;
    
}

.violet {
    background-color: violet;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}





